.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  width: 100%;

  .pesquisa {
    display: flex;
    flex-direction: row;
  }

  .input{
    width: 600px;
    height: 25px;
    border-radius: 20px;
  }
}

.container {
  padding: 50px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  align-items: center;
  height: 82.5%;
  flex-direction: column;
  background-color: red;

  .conteudo {

    background-color: white;
    display: flex;
    flex-direction: row;

    .button {
      border: 2px solid black;
      border-radius: 20px;
      margin-right: 10px;
    }
  }

  .visor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    height: 300px;
    width: 400px;
    border: 10px solid darkgray;
    border-radius: 5px;
    background-color: aliceblue;
    margin-bottom: 50px;
  }

  .habilidades{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    height: 600px;
    border: 5px solid darkgray;
    border-radius: 5px;
    background-color: aliceblue;
  }
}

.src{
  width: 200px;
  height: 200px;
}