<!-- <mat-toolbar class="toolbar">
    <div class="titulo">
        <span style="align-items: center;">Pokédex</span>
    </div>
    <div class="pesquisa">
        <form>
            <input class="input" [formControl]="name">
        </form>

        <button id="basic" type="button" mat-button (click)="getPoke()">
            Procurar
        </button>
    </div>

</mat-toolbar>

<section class="container">

    <div class="visor">
        <div *ngIf="pokeInfo">
            <img class="src" src="{{pokeImage}}" alt="">
            <h1>Nome: {{pokeInfo}}</h1>
        </div>
    </div>

    <div class="habilidades">
        <div class="rowUm" *ngFor="let item of pokeAbilits">
            <h2>{{item.ability.name}}</h2>
        </div>
    </div>


</section> -->
<div class="mau">

    <h1>Feliz aniversario MAU MAU</h1>

    <img src="../../../assets/img/1904041_600617340083693_1900812278112195887_n.jpg" alt="">

    <h2>agora pega no meu PAAAAAUUUU</h2>

    <img src="../../../assets/img/99ac8aff82e12a98ea6b596f2dd11a3f.gif" alt="">
</div>

